services:
  web-node:
    build:
      context: ./web-node
    image: local/rocky-apache-php:dev

    env_file:
      - .env

    ports:
      - "80:80"
      - "443:443"

    cap_add:
      - SYS_ADMIN

    volumes:
      #SSL certs
      - ./web-node/certs/localhost.crt:/etc/pki/tls/certs/localhost.crt:ro
      - ./web-node/certs/localhost.key:/etc/pki/tls/private/localhost.key:ro
      #page content; no longer needed as document root has been set to www_data/www 
      #- ./web-node/www_data:/var/www/html
      # Apache custom conf 
      - ./web-node/conf/apache/apache-local.conf:/etc/httpd/conf.d/apache-local.conf:ro
      # PHP runtime custom conf
      - ./web-node/conf/php/99-php.ini:/etc/php.d/99-php.ini:ro
      # PHP-FPM pool override custom conf
      - ./web-node/conf/php/zzz-env.conf:/etc/php-fpm.d/zzz-env.conf:ro
      # Mount NFS as the web root
      #- nfs_shared:/www_data/www:rw

    depends_on:
      - db-primary
      - nfs

    networks:
      - app_net
      - db_net
      - nfs_net

  nfs:
    build:
      context: ./nfs
    image: local/nfs-server:dev
    container_name: nfs
    privileged: true

    # backing storage for the export
    volumes:
      - nfs_data:/exports/shared

    networks:
      - nfs_net

  db-primary:
    image: mariadb:10.11-ubi9
    container_name: db-primary

    env_file:
      - .env

    volumes:
      - mariadb_data:/var/lib/mysql
      - ./db-primary/init:/docker-entrypoint-initdb.d:ro

    networks:
      - db_net

networks:
  app_net:
    driver: bridge

  db_net:
    driver: bridge
    internal: true

  nfs_net:
    driver: bridge
    internal: true

volumes:
  mariadb_data:
  nfs_data:

