services:
  web-node:
    build:
      context: ./web-node
    image: local/rocky-apache-php:${IMAGE_TAG}

    env_file:
      - .env

    ports:
      - "80:80"
      - "443:443"

    # Required for mounting NFS inside the container (mirrors /etc/fstab mount in production)
    privileged: true

    volumes:
      #SSL certs
      - ./web-node/certs/localhost.crt:/etc/pki/tls/certs/localhost.crt:ro
      - ./web-node/certs/localhost.key:/etc/pki/tls/private/localhost.key:ro
      # Apache custom conf 
      - ./web-node/conf/apache/apache-local.conf:/etc/httpd/conf.d/apache-local.conf:ro
      # PHP runtime custom conf
      - ./web-node/conf/php/99-php.ini:/etc/php.d/99-php.ini:ro
      # PHP-FPM pool override custom conf
      - ./web-node/conf/php/zzz-env.conf:/etc/php-fpm.d/zzz-env.conf:ro

    depends_on:
      - db-primary
      - nfs

    networks:
      - app_net
      - db_net
      - nfs_net

  nfs:
    build:
      context: ./nfs
    image: local/nfs-server:${IMAGE_TAG}
    container_name: nfs
    privileged: true

    # backing storage for the export
    # Sync Strategy:
    # 1. Mount host directory to /staging (read-only) for inotify/rsync
    # 2. Use named volume 'nfs_export_data' for actual NFS export (native Linux FS)
    volumes:
      - ./nfs/exports:/staging:ro
      - nfs_export_data:/exports

    networks:
      nfs_net:
        ipv4_address: ${NFS_IP}

  db-primary:
    image: mariadb:10.11-ubi9
    container_name: db-primary

    env_file:
      - .env

    volumes:
      - mariadb_data:/var/lib/mysql
      - ./db-primary/init:/docker-entrypoint-initdb.d
      - ./db-primary/conf:/etc/my.cnf.d:ro

    networks:
      - db_net
      - db_secondary_net

  db-secondary:
    image: mariadb:10.11-ubi9
    container_name: db-secondary

    env_file:
      - .env

    volumes:
      - mariadb_secondary_data:/var/lib/mysql
      - ./db-secondary/init:/docker-entrypoint-initdb.d:ro
      - ./db-secondary/conf:/etc/my.cnf.d:ro

    depends_on:
      - db-primary

    networks:
      - db_secondary_net

networks:
  app_net:
    driver: bridge

  db_net:
    driver: bridge
    internal: true

  db_secondary_net:
    driver: bridge
    internal: true

  nfs_net:
    driver: bridge
    internal: true
    ipam:
      config:
        - subnet: ${NFS_SUBNET}

volumes:
  mariadb_data:
  mariadb_secondary_data:
  nfs_data:
  nfs_export_data:


